* {
  font-family: sans-serif !important;
}

.main-content {
  overflow: auto;
}

.item {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.item img {
  max-width: 100%;
  height: auto;
}

.disabled {
  opacity: 0.3;
}

.item:hover {
  opacity: 1;
}

.navItem{
  margin: 12px 0 12px 0;
}

.navItem:hover {
  cursor: pointer;
}