.strokeBlack {
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.outerExplanation {
    border: 1px solid black;
    margin: -1px 0 0 0;
    /* margin:'6px 0 0 0'; */
}

.dot {
    width: 6px;
    min-width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: black;
}

.explanationLeft {
    display: flex;
    align-items: center;
    min-width: 20%;
    max-width: 20%;
    border: 1px solid black;
    margin: -1px 0 -1px -1px;
    padding: 3px 0 3px 3px;
}

.innerExplanationShort {
    font-Weight: bold;
    margin: 0 6px 0 12px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.explanationInner {
    margin: 3px;
}

.calcResult {
    margin: 1px;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
}

.autoPicSuggestion {
    border: 1px solid black;
    padding: 3px;
    /* margin: -1px -2px -1px -1px; */
    width: 110px;
    margin-bottom: -1px;
    height: 50px;
}

.suggestionHolder {
    /* margin: 3px 3px 1px 3px; */
    /* background-color: blue; */
    /* border: 1px solid black; */
    margin: 3px;
}

.futurePicHolder {
    padding: 3px;
    border: 1px solid black;
    margin-top: 0px;
    width: 110px;
    height: 50px;
    /* background-color: red; */
}

.bestSuggestion {
    width: 113px;
    margin-right: 3px;
    margin-top: 1px;
    margin-left: 3px;
    margin-bottom: 0;
    border: 1px solid black;
    padding: 0 0px 0 3px;
}

.calcInfo {
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 2px;
}


.futurePicExplanation {
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 2px;
}